<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="gov.us.fhim.uml.report.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="FHIM Reports" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="gov.us.fhim.uml.report.ui.popupMenus.AcceleoGenerateReportAction"
               enablesFor="+"
               id="gov.us.fhim.uml.report.ui.popupMenus.acceleoGenerateReportAction"
               icon="icons/default.gif"
               label="Generate Mapping Report"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
               
               
           <action
               class="gov.us.fhim.uml.report.ui.popupMenus.TerminologyReportAction"
               enablesFor="+"
               id="gov.us.fhim.uml.report.ui.popupMenus.TerminologyReportAction"
               icon="icons/default.gif"
               label="Generate Terminology Report"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>      
      </objectContribution>
   </extension>
</plugin>
