<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   


  
   
   
    
		
 
   
   
   
     <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            id="gov.us.fhim.ui.popupMenus.file"
            nameFilter="*.emx"
            objectClass="org.eclipse.core.resources.IFile">
		 <menu label="Import Spreadsheet" path="group.port" 
				id="gov.us.fhim.ui.popupMenus.import">
			<separator name="additions"/>
		 </menu>
         <action
               label="Import Terminology Spreadsheet"
               class="gov.us.fhim.ui.actions.ImportSpreadsheet"
               menubarPath="gov.us.fhim.ui.popupMenus.import/additions"
               enablesFor="1"
               id="gov.us.fhim.ui.actions.ImportSpreadsheetAction">
         </action>
         <action
               class="gov.us.fhim.ui.actions.ImportCIMISpreadsheet"
               enablesFor="1"
               id="gov.us.fhim.ui.actions.ImportCIMIAction"
               label="Import CIMI Spreadsheet"
               menubarPath="gov.us.fhim.ui.popupMenus.import/additions">
         </action>
      </objectContribution>
   </extension>
   
   
</plugin>
